<app-card heading="Pagamento com PIX" class="block max-w-4xl mx-auto">
  <div class="flex items-center gap-5">
    <qrcode [qrdata]="code" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <div class="flex flex-col gap-5">
      <div class="space-y-2.5">
        <h2 class="text-sm font-medium text-gray-900">Aqui está o seu código de pagamento</h2>
        <p class="text-sm text-gray-700">
          Copie o código ou use a câmera para ler o QRCode ao lado e realize o pagamento no aplicativo do seu banco de
          preferência.
        </p>
      </div>

      <div class="space-y-2.5">
        <app-input [defaultValue]="code" size="lg" />
        <button type="button" class="w-full kt-btn flex items-center">
          <span class="leading-tight text-xs font-medium">
            Copiar código PIX
          </span>
          <app-icon icon="copy" [size]="12" />
        </button>
      </div>

      <p class="text-center text-sm">
        O seu código expira em <b>00m 00s</b>
      </p>
    </div>
  </div>
</app-card>
