<button
  class="w-full flex flex-col justify-between shadow-card p-4 gap-y-1 rounded-xl transition-all"
  [disabled]="disabled()"
  [class.cursor-pointer]="!disabled()"
  [class.cursor-not-allowed]="disabled()"
  [ngClass]="stateClass()"
  (click)="clicked.emit(value())"
>
  <div class="flex justify-between">
    <app-icon [icon]="icon()" [size]="28" />
    <input
      [id]="id()"
      type="radio"
      class="w-5 h-5 border border-gray-400 bg-white rounded-full checked:border-primary/50 checked:border-5 outline-none appearance-none"
      [class.cursor-pointer]="!disabled()"
      [class.cursor-not-allowed]="disabled()"
      [name]="name()"
      [checked]="selected()"
      [value]="value()"
      tabindex="-1"
    />
  </div>
  <span class="kt-label text-gray-900 text-sm font-medium leading-tight">
    {{ label() }}
  </span>
</button>
