<div class="kt-form-item">
  @if (label()) {
    <label class="kt-form-label text-gray-900 font-medium" [for]="key">
      {{ label() }}
    </label>
  }

  <div class="kt-form-control">
    <select
      [id]="key"
      appKtSelect
      class="kt-select"
      [attr.aria-invalid]="!!errorMessage"
      [attr.data-kt-select]="true"
      [attr.data-kt-select-placeholder]="placeholder()"
      [attr.data-kt-select-disabled]="disabled()"
      [value]="value()"
      data-kt-select-config='{
          "optionsClass": "kt-scrollable overflow-auto max-h-[250px]"
        }'
      (change)="select($event)"
      (blue)="onTouched()"
    >
      @for (option of options(); track option.value) {
        <option [value]="option.value">{{ option.label }}</option>
      }
    </select>
  </div>

  @if (description()) {
    <div class="kt-form-description">{{ description() }}</div>
  }

  @if (!!errorMessage) {
    <div class="kt-form-message">{{ errorMessage }}</div>
  }
</div>
