@use "./tailwind";

/** KtUI **/

/* Font */
body {
  font-family: var(--default-font-family);
}

/** Colors **/
:root {
  /** Base Colors **/
  --background: oklch(1 0 0);
  /* --color-white */
  --foreground: oklch(14.1% 0.005 285.823);
  /* --color-zinc-950 */
  --card: oklch(1 0 0);
  /* --color-white */
  --card-foreground: oklch(14.1% 0.005 285.823);
  /* --color-zinc-950 */
  --popover: oklch(1 0 0);
  /* --color-white */
  --popover-foreground: oklch(14.1% 0.005 285.823);
  /* --color-zinc-950 */
  --primary: oklch(62.3% 0.214 259.815);
  /* --color-blue-500 */
  --primary-foreground: oklch(1 0 0);
  /* --color-white */
  --secondary: oklch(96.7% 0.003 264.542);
  /* --color-zinc-100 */
  --secondary-foreground: oklch(21% 0.006 285.885);
  /* --color-zinc-900 */
  --muted: oklch(96.7% 0.003 264.542);
  /* --color-zinc-100 */
  --muted-foreground: oklch(55.2% 0.016 285.938);
  /* --color-zinc-500 */
  --accent: oklch(96.7% 0.003 264.542);
  /* --color-zinc-100 */
  --accent-foreground: oklch(21% 0.006 285.885);
  /* --color-zinc-900 */
  --destructive: oklch(57.7% 0.245 27.325);
  /* --color-red-600 */
  --destructive-foreground: oklch(1 0 0);
  /* --color-white */
  --mono: oklch(14.1% 0.005 285.823);
  /* --color-zinc-950 */
  --mono-foreground: oklch(1 0 0);

  /** Base Styles **/
  --border: oklch(94% 0.004 286.32);
  /* between --color-zinc-100 and --color-zinc-200 */
  --input: oklch(92% 0.004 286.32);
  /* --color-zinc-200 */
  --ring: oklch(87.1% 0.006 286.286);
  /* --color-zinc-400 */
  --radius: 0.5rem;
}

/** Theme Setup **/
@theme inline {
  /** Base Colors **/
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-mono: var(--mono);
  --color-mono-foreground: var(--mono-foreground);

  /** Base Styles **/
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-xl: calc(var(--radius) + 4px);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-card: 0px 4px 5px rgba(0, 0, 0, 0.03);
}

@layer components {
  .kt-input-addon {
    margin: 0;
  }

  .kt-btn {
    background-color: --alpha(var(--primary) / 50%);

    svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: --alpha(var(--primary) / 65%);
    }
  }

  .kt-container-fixed {
    width: 100%;
    padding-inline: calc(var(--spacing)*6);
    flex-grow: 1
  }

  @media (min-width:80rem) {
    .kt-container-fixed {
      max-width: var(--breakpoint-xl);
      padding-inline: calc(var(--spacing)*7.5);
      margin-inline: auto
    }
  }

  .kt-container-fluid {
    width: 100%;
    padding-inline: calc(var(--spacing)*6);
    flex-grow: 1
  }

  @media (min-width:80rem) {
    .kt-container-fluid {
      padding-inline: calc(var(--spacing)*7.5)
    }
  }

  @media (min-width:64rem) {
    .lg\:\[\&_\.kt-container-fluid\]\:pe-4 .kt-container-fluid {
      padding-inline-end: calc(var(--spacing)*4)
    }
  }

  .kt-select-select-all-button {

    &:hover {
      @media (hover: hover) {
        background-color: var(--primary);
      }
    }

    &:hover {
      @media (hover: hover) {
        color: var(--primary);
      }
    }
  }
}
